ipython==8.12.3
pycparser==2.21
Pygments==2.17.2
pyjsonselect==0.2.2
PyMySQL==1.1.0
pyppeteer==0.2.6
pyproject-toml==0.0.10
pyproject_hooks==1.2.0
PySocks==1.7.1
pyspnego==0.10.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==25.1.2
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
robotframework==7.0
robotframework-assertion-engine==3.0.3
robotframework-debuglibrary==2.5.0
robotframework-excellib==2.0.1
robotframework-jsonlibrary==0.5
robotframework-jsonvalidator==2.0.0
robotframework-pabot==2.18.0
robotframework-PuppeteerLibrary==3.1.7
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.6
robotframework-seleniumlibrary==6.6.1
robotframework-stacktrace==0.4.1
rpds-py==0.10.6
selenium==4.14.0
setuptools==75.1.0
